.container {
    /* border: 1px solid #000; */
    padding: 10px;
    margin: 5px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.text {
    color: #8F8F8F;
    padding: 10px 0;
}

.time {
    font-size: 12px;
}

.reply {
    color: #8F8F8F;
    font-size: 14px;
    font-style: italic;
    align-items: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
}